.appointment{
    background-color: aliceblue;
    height: 100%;
}

.appoint-header{
    background-color: #3498DB;
    color: white;
    text-align: center;
    padding:16px;
}

.appoint-form{
    width: 70%;
    margin:auto;
}

.form-pet-header,.form-appoint-header{
    background-color: #4BB2E5;
    color:white;
    padding:14px;
    text-align: center;
    
}

.form-pet-content{
    background-color: #AED6F1 ;
}

.form-pet-content select{
    width: 90%;
}

.form-pet-label{
    background-color: #AED6F1 ;
    text-align: end;
    font-weight: 600;
}

.form-pet-details{
    background-color: #AED6F1 ;

}

.form-appoint-content{
    background-color: #AED6F1;
}