.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.Navbar img {
    padding:1px;
    height: 60px;
}

.Btn-login{
    border: 1px solid #3171B0;
    border-radius: 5px;
    color:#85349A;
}

.Btn-login:hover,.Box-top:active{
    background-color: #3171B0;
    color:white;
}

a:hover{
    font-weight: 500;
}
