* {
    font-family: 'Bai Jamjuree', sans-serif;
}

.header{
    background-color: #3171B0;
}

thead{
    background: #49A1CF;
    color:#ECF0F1;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #D6EAF8;
}
