 body{
    margin: 0;
    padding:0;
    background-color: #E6E6EA; 
  }

  .top{
    background-color: #3171B0;
    padding: 0.2rem;
    color:white;
  }

  .text{
    display: inline-block;
  }

  .bottom{
    width: 100%;
    background-color: #3171B0;
    padding:0;
    color:white;
    text-align: end;
  }

  p{
    margin:auto;
    padding: 0.5rem;
  }

  .header-content{
    background-color: #3171B0;
  }

  .content{
    width:100%;
    margin: auto;
    padding: 1rem 1rem 3rem 1rem;
    overflow-y:auto;
  }

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #D6EAF8  ; 
 }

 thead{
  background-color: #7FB3D5;
 }