body{
    /* box-sizing: border-box; */
    margin: 0;
    padding:0;
    background-color: #E6E6EA;  
    font-family: "Lato", sans-serif;
  }

  .top{
    background-color: #3171B0;
    padding: 0.5rem;
    color:white;
    text-align: end;
  }

  .bottom{
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: #3171B0;
    padding: 0.5rem;
    color:white;
    text-align: end;
  }
  