.homepage-picture button{
    margin-top: -150px;
    margin-left: -430px;
    margin-bottom: -400px;
    z-index: 1;
    width: 30%;
    padding: 1rem;
    font-size: 20px;
}

.homepage-picture{
  background-color: #CDEEFF;
}

.Services{
  background-color: aliceblue;
}

.btn-appointment { 
    color: #FFFFFF; 
    background-color: #3498DB; 
  } 

  .btn-appointment:hover, .btn-appointment:focus, .btn-appointment.active{
    background-color: #2874A6  ;
    color:#FFFFFF;
}

.items img{
  width: 150px;
}

.Text-title{
  color:#85349A;
}

.img-service{
  width: 100px;
  height: 100px;
}

