.sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #34495E;
    height: 100%;
  }

  .sidebar-bottom a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: start;
  }

  span{
    margin-left: 2rem;
  }

  .sidebar-top{
    width: 250px;
    height: 150px;
    margin: auto;
  }

  .sidebar-top img{
    margin-top:2rem;
    margin-left: 2rem;
  }
  
  .sidebar-bottom img{
    width: 25px;
    margin-right: 5px;
  }

  .sidebar a.active {
    background-color: #3171B0;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #5D6D7C;
    color: white;
  }
